@{
    ViewBag.Title = "NG Index";
}
@section Scripts {
    @Scripts.Render("~/Scripts/angular/scope.js")
}
<div id="indexNgBody" ng-app="workoutApp">
    <div ng-controller="workoutController">
        <strong>First Name:</strong> {{firstName}} <br />
        <strong>Last Name:</strong> {{lastName}}<br />
        <tr ng-repeat="workout in workouts">
            <td>
                <input placeholder="Name" />{{workout.Name}}
            </td>
            <td>
                <input class="datepicker" placeholder="Date" />{{workout.WorkoutDate}}
            </td>
            <td>
                <input type="number" placeholder="Workout Length" />
            </td>
            <td>
                <select></select>
            </td>
            <td>
                <button class="btn btn-primary">Save</button>
            </td>
        </tr>
    </div>
 
    <h2>Workouts</h2>
    <form>
        <input placeholder="Name" />
        <input class="datepicker" placeholder="Date" />
        <input type="number" placeholder="Workout Length" />
        <select></select>
        <button class="btn btn-primary" type="submit">Add</button>
    </form>
    @*<table class="table table-hover">
            <thead class="thead-inverse">
                <tr>
                    <th>
                        Workout Name
                    </th>
                    <th>
                        Workout Date
                    </th>
                    <th>
                        Workout Length
                    </th>
                    <th>
                        Location
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody ng-controller="workoutController">
                <tr ng-repeat="workout in workouts">
                    <td>
                        <input placeholder="Name" />{{workout.Name}}
                    </td>
                    <td>
                        <input class="datepicker" placeholder="Date" />{{workout.Date}}
                    </td>
                    <td>
                        <input type="number" placeholder="Workout Length" />{{workout.WorkoutLength}}
                    </td>
                    <td>
                        <select></select>
                    </td>
                    <td>
                        <button class="btn btn-primary">Save</button>
                    </td>
                </tr>
            </tbody>
        </table>*@

    <h3>Exercises</h3>
    <form>
        <select></select>
        <select></select>
        <button class="btn btn-primary" type="submit">Add</button>
    </form>
    <div>
        <table class="table table-hover">
            <thead class="thead-inverse">
                <tr>
                    <th>
                        Exercise
                    </th>
                    <th>
                        Equipment
                    </th>
                    <th>
                        NumberOfSets
                    </th>
                    <th>
                        Total Weight
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <select></select>
                    </td>
                    <td>
                        <select></select>
                    </td>
                    <td>
                        <span></span>
                    </td>
                    <td>
                        <span></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <h4>Sets</h4>
    <form>
        <input placeholder="Weight" />
        <input placeholder="Reps" />
        <button class="btn btn-primary" type="submit">Add</button>
    </form>
    <div>
        <table class="table">
            <thead class="thead-inverse">
                <tr>
                    <th>
                        Weight
                    </th>
                    <th>
                        Repetitions
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input type="number" placeholder="Weight" />
                    </td>
                    <td>
                        <input type="number" placeholder="Repetitions" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
