@{
    ViewBag.Title = "KO Index";
}

<h2>Workouts</h2>
<form data-bind="submit: addWorkout">
    <input class="input-sm" data-bind="value: name" placeholder="Name" />
    <input class="datepicker input-sm" data-bind="value: workoutDate" placeholder="Date" />
    <input class="input-sm" data-bind="value: workoutLength" type="number" placeholder="Workout Length" />
    <select class="input-sm" data-bind="options: locations, value: location, optionsText: 'Name'"></select>
    <button class="btn btn-primary" type="submit">Add</button>
</form>
<div class="table-responsive">
    <table class="table-sm table-hover">
        <thead class="thead-inverse">
            <tr>
                <th>
                    Workout Name
                </th>
                <th>
                    Workout Date
                </th>
                <th>
                    Workout Length
                </th>
                <th>
                    Location
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody data-bind="foreach: Workouts">
            <tr data-bind="click: $root.editWorkout">
                <td><input class="input-sm" data-bind="value: name" placeholder="Name" /></td>
                <td><input class="datepicker input-sm" data-bind="value: workoutDate" placeholder="Date" /></td>
                <td><input class="input-sm" data-bind="value: workoutLength" type="number" placeholder="Workout Length" /></td>
                <td><select class="input-sm" data-bind="options: $root.locations, value: location, optionsText: 'Name'"></select></td>
                <td><button class="btn btn-primary">Save</button></td>
            </tr>
        </tbody>
    </table>
</div>
<h3>Exercises</h3>
<form data-bind="submit: addWorkoutItem">
    <select class="input-sm" data-bind="options: exercises, value: exercise, optionsText: 'Name'"></select>
    <select class="input-sm" data-bind="options: equipments, value: equipment, optionsText: 'Name'"></select>
    <button class="btn btn-primary" type="submit">Add</button>
</form>
<div class="table-responsive" data-bind="with: selectedWorkout">
    <table class="table-sm table-hover">
        <thead class="thead-inverse">
            <tr>
                <th>
                    Exercise
                </th>
                <th>
                    Equipment
                </th>
                <th>
                    NumberOfSets
                </th>
                <th>
                    Total Weight
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody data-bind="foreach: workoutItems">
            <tr data-bind="click: $root.editWorkoutItem">
                <td><select class="input-sm" data-bind="options: $root.exercises, value: exercise, optionsText: 'Name'"></select></td>
                <td><select class="input-sm" data-bind="options: $root.equipments, value: equipment, optionsText: 'Name'"></select></td>
                <td><span data-bind="text: numberOfSets()"></span></td>
                <td><span data-bind="text: totalWeight()"></span></td>
            </tr>
        </tbody>
    </table>
</div>

<h4>Sets</h4>
<form data-bind="submit: addSet">
    <input class="input-sm" data-bind="value: equipmentWeight" type="number" placeholder="Weight" />
    <input class="input-sm" data-bind="value: numberOfRepetitions" type="number" placeholder="Reps" />
    <button class="btn btn-primary" type="submit">Add</button>
</form>
<div class="table-responsive" data-bind="with: selectedWorkoutItem">
    <table class="table-sm">
        <thead class="thead-inverse">
            <tr>
                <th>
                    Weight
                </th>
                <th>
                    Repetitions
                </th>
            </tr>
        </thead>
        <tbody data-bind="foreach: exerciseSets">
            <tr>
                <td><input class="input-sm" data-bind="value: equipmentWeight" type="number" placeholder="Weight" /></td>
                <td><input class="input-sm" data-bind="value: numberOfRepetitions" type="number" placeholder="Repetitions" /></td>
            </tr>
        </tbody>
    </table>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/Scripts/ViewModels/IndexKOVM.js")
}
